//- extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 

        
        form(method='POST' action='api/product/addProduct' enctype="multipart/form-data")
          div.form-group
            label(for='product_name') Product Name:
            input#name.form-control(type='text', placeholder='' name='product_name')
          div.form-group
            label(for='sku') Sku:
            input#email.form-control(type='text', placeholder='' name='sku')
          div.form-group
            label(for='stock_quantity') stock:
            input#favoriteBook.form-control(type='text', placeholder='' name='stock_quantity')
          div.form-group
            label(for='product_price') product price:
            input#pw.form-control(type='text' name='product_price')
          div.form-group
            label(for='product_category') product category:
            input#pw2.form-control(type='text' name='product_category')
          div.form-group
            label(for='product_description') product_description:
            input#pw2.form-control(type='text' name='product_description')
          div.form-group
            label(for='product_image') Image:
            input#pw2.form-control(type='file' name='product_image')
          button.btn.btn-primary(type='submit') Add
          